.banner {
  display: flex;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 202, 249);
  flex-direction: column;
}
.banner-content {
    margin: 1em 0 .2em;
    max-width: 80%;
}
.banner h1 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
/*  opacity: 0.6;
*/  margin-bottom: 30px;
}
.banner a {
  text-decoration: none;
  color: white;
}
.icon-white {
  color: white;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.social-link {
  font-size: 20px;
}


.btn-purple {
    background-color: rgb(104, 77, 146);
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    display: inline-block;
}
a.git_hover:hover {
   background-color: rgb(198, 20, 20);
}
