@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/social_links.css");
@import url("components/cards.css");
@import url("components/avatar.css");
@import url("components/mini-card.css");
@import url("layouts/links.css");
@import url("layouts/projects.css");
@import url("layouts/about.css");



body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

h1, h2, p {
  color: white;
  text-align: center;
}

h2 {
  /*border-bottom: 3px white solid;*/
}

.section-header {
  display:inline-block;
  border-bottom: 3px white solid;
}
