.section {
  display: flex;
  height: auto;
  text-align: center;
  justify-content: space-around;
  padding-top: 4vh;
  padding-bottom: 7vh;
}

.section-header {
  display:inline-block;
  border-bottom: 3px white solid;
}

.pink-underline {
  border-bottom: 3px rgb(250, 112, 159) solid;
  color: #404040;
}


.skills {
  background-color: rgb(250, 112, 159);
}

.skills-content {
  margin-top: 10px;
}

.projects {
  background-color: white;
}

.about {
  background-color: pink;
}
